################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestScripting/.vs/TestScripting/v15
/TestScripting/packages
/TestScripting/SeleniumTestA/bin/Debug
/TestScripting/SeleniumTestA/obj/Debug
