################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestScripting/.vs/TestScripting/v15
/TestScripting/packages
/TestScripting/SeleniumTestA/bin/Debug
/TestScripting/SeleniumTestA/obj/Debug
/TestScripting/SeleniumTestA/bin/Release
/TestScripting/SeleniumTestA/obj/Release
/Alkosto/Pruebas Funcionales/AlkostoFunctionalTest/.vs/AlkostoFunctionalTest/v15
/Alkosto/Pruebas Funcionales/AlkostoFunctionalTest/AlkostoFunctionalTest/bin/Debug
/Alkosto/Pruebas Funcionales/AlkostoFunctionalTest/AlkostoFunctionalTest/obj/Debug
/Alkosto/Pruebas Funcionales/AlkostoFunctionalTest/packages
/Alkosto/Pruebas Funcionales/AlkostoFunctionalTest/TestResults
/Alkosto/Pruebas Funcionales/AlkostoFunctionalTest/AlkostoFunctionalTest/bin/Release
/Alkosto/Pruebas Funcionales/AlkostoFunctionalTest/AlkostoFunctionalTest/obj/Release
